body 
{
	font-size:12px;
	font-family:Tahoma;
}

#divMain_AmThuc
{
	background-color:Green;
	border:1px solid Red;
	margin:0 auto;
	width:1000px;
	height:200px;
}

#divHeader_AmThuc
{
	background-color:;
	border:1px solid White;
	height:100px;
}

#divBody_AmThuc
{
	width:100%;
	background-color:Lime;
	float:left;
}

#divLeft_AmThuc
{
	float:left;
	background-color:Cyan;
	border:1px solid Black;
	width:15%;
}

#divRight_AmThuc
{
	background-color:Yellow;
	border:1px solid Green;
	float:right;
	width:84%;
}


#divRightCenter_AmThuc
{
	float:left;
	background-color:#6F0;
	border:1px solid Black;
	width:70%;
}

#divRightAdvertisement_AmThuc
{
	background-color:#00F;
	border:1px solid Green;
	float:right;
	width:25%;
}

#divHeader_Menu_AmThuc
{
	background-color:#F6C;
	width:100%;
	border:1px solid Yellow;
}

/* menu ngang */
 .navigation {
background-color:#0D91C8;
margin-top:10px;
width:1000px;
}


.ddsmoothmenu {
float:left;
}

.ddsmoothmenu ul {
list-style-type:none;
margin:0;
padding:0;
z-index:100;
}

.ddsmoothmenu ul li {
display:inline;
float:left;
position:relative;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited 
{
color:white;
}
ddsmoothmenu.css  .ddsmoothmenu ul li a 
{
color:#2D2B2B;
display:block;
font-size:14px;
height:17px;
padding:8px 20px;
text-decoration:none;
text-transform:uppercase;
}
ddsmoothmenu.css a 
{
color:#666666;
outline:medium none;
text-decoration:none;
}
