

h5.header {
    border-bottom: 1px solid #DDDDDD;
    color: #0D91C8 !important;
    margin-bottom: 10px;
    padding: 10px 0 4px 10px;
    text-transform: uppercase;
    width: 170px;
}

h5.header_right {
    border-bottom: 1px solid #DDDDDD;
    color: #0D91C8 !important;
    margin-bottom: 10px;
    padding: 10px 0 4px 10px;
    text-transform: uppercase;
    width: 165px;
}

div.left_right_content
{
    /*padding: 5px 0 0 10px;*/
    width: 170px;
    text-align:center;
    margin-bottom:7px;
}

div.left_right_content img
{
    width: 120px;
    height: 108px;
}

div.left_right_content p a
{
    text-decoration:none;
    color:Blue;
}

div.left_right_content p a:hover
{
    color:#FF3399;
    cursor:pointer;
    text-decoration:underline;
}


div.right_content
{
    /*padding: 5px 0 0 10px;*/
    width: 170px;
    text-align:left;
    margin-bottom:7px;
}

div.right_content p
{
    background:url(../images/arrow.png) no-repeat scroll left 5px transparent;
    padding-left:15px;
    margin-left:10px
}

div._right_content p a
{
    text-decoration:none;
    color:Blue;
}

div.right_content p a:hover
{
    color:#FF3399;
    cursor:pointer;
    text-decoration:underline;
}


.headerLeftRight
{
    color: #0D91C8 !important;
    text-transform: uppercase;
    width: 165px;
    padding: 10px 0 8px 5px;
    display:block;
    font-size:14px;
}

/* table style  */

div.advance_search
{
    margin:10px 0 10px 10px;
}
td.leftTd {
    background-color: #E8EDFF;
    border-bottom: 1px solid #FFFFFF;
    /*border-top: 1px solid #FFFFFF;*/
    color: #666699;
    height:24px;
    line-height:24px;
    /*padding: 2px 0px 2px 8px;*/
}

td.leftTd p {
    padding-right:5px;
    padding-top:2px;
    text-align:right;
}

.left_next
{
    height:18px;
}

td.left1
{
        background-color: #E8EDFF;
            border-bottom: 1px solid #FFFFFF;
    /*border-top: 1px solid #FFFFFF;*/
    padding-left:5px;
}


td.right {
    padding-right:5px;
}

td.white {
    background-color: White;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #666699;
    padding: 2px 0px 2px 8px;
}

td.header
{
    background-color :#666699;
    color: White;
    font-size: 14px;
    font-weight: normal;
    padding: 2px 0px 10px 8px;
}

.submit_box {
    margin: 5px 10px 0;
    padding: 10px 13px 30px 50px;
}

/* end table style*/