<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="tbl_Admin" EntityName="Admin" Owner="dbo" PropertyName="Admin" FieldName="admin" FriendlyName="Admin" IncludeInOutput="true">
		<Column Id="id_Admin" CSType="System.Int64" PropertyName="IdAdmin" FieldName="idAdmin" FriendlyName="Id Admin" IncludeInOutput="true" />
		<Column Id="TenDangNhap" CSType="System.String" PropertyName="TenDangNhap" FieldName="tenDangNhap" FriendlyName="Ten Dang Nhap" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="Password" CSType="System.String" PropertyName="Password" FieldName="password" FriendlyName="Password" IncludeInOutput="true" />
		<Column Id="HoTen" CSType="System.String" PropertyName="HoTen" FieldName="hoTen" FriendlyName="Ho Ten" IncludeInOutput="true" />
		<Column Id="DienThoai" CSType="System.String" PropertyName="DienThoai" FieldName="dienThoai" FriendlyName="Dien Thoai" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
	</Table>
	<Table Id="tbl_ChuCongTy" EntityName="ChuCongTy" Owner="dbo" PropertyName="ChuCongTy" FieldName="chuCongTy" FriendlyName="Chu Cong Ty" IncludeInOutput="true">
		<Column Id="id_ChuCongTy" CSType="System.Int64" PropertyName="IdChuCongTy" FieldName="idChuCongTy" FriendlyName="Id Chu Cong Ty" IncludeInOutput="true" />
		<Column Id="TenChuCongTy" CSType="System.String" PropertyName="TenChuCongTy" FieldName="tenChuCongTy" FriendlyName="Ten Chu Cong Ty" IncludeInOutput="true" />
		<Column Id="TenCongTy" CSType="System.String" PropertyName="TenCongTy" FieldName="tenCongTy" FriendlyName="Ten Cong Ty" IncludeInOutput="true" />
		<Column Id="TenDangNhap" CSType="System.String" PropertyName="TenDangNhap" FieldName="tenDangNhap" FriendlyName="Ten Dang Nhap" IncludeInOutput="true" />
		<Column Id="Password" CSType="System.String" PropertyName="Password" FieldName="password" FriendlyName="Password" IncludeInOutput="true" />
		<Column Id="DiaChi" CSType="System.String" PropertyName="DiaChi" FieldName="diaChi" FriendlyName="Dia Chi" IncludeInOutput="true" />
		<Column Id="DienThoaiCD" CSType="System.String" PropertyName="DienThoaiCd" FieldName="dienThoaiCd" FriendlyName="Dien Thoai Cd" IncludeInOutput="true" />
		<Column Id="DienThoaiDD" CSType="System.String" PropertyName="DienThoaiDd" FieldName="dienThoaiDd" FriendlyName="Dien Thoai Dd" IncludeInOutput="true" />
		<Column Id="NgayTao" CSType="System.DateTime?" PropertyName="NgayTao" FieldName="ngayTao" FriendlyName="Ngay Tao" IncludeInOutput="true" />
		<Column Id="NgayKetThuc" CSType="System.DateTime?" PropertyName="NgayKetThuc" FieldName="ngayKetThuc" FriendlyName="Ngay Ket Thuc" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="CongTyCollection" PropertyName="CongTyCollection" FieldName="congTyIdChuCongTy" FriendlyName="CongTyCollection" CSType="TList&lt;CongTy&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_CongTy_tbl_ChuCongTy" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_Comment" EntityName="Comment" Owner="dbo" PropertyName="Comment" FieldName="comment" FriendlyName="Comment" IncludeInOutput="true">
		<Column Id="id_Comment" CSType="System.Int64" PropertyName="IdComment" FieldName="idComment" FriendlyName="Id Comment" IncludeInOutput="true" />
		<Column Id="id_User" CSType="System.Int64?" PropertyName="IdUser" FieldName="idUser" FriendlyName="Id User" IncludeInOutput="true" />
		<Column Id="id_Congty" CSType="System.Int64?" PropertyName="IdCongty" FieldName="idCongty" FriendlyName="Id Congty" IncludeInOutput="true" />
		<Column Id="TieuDe" CSType="System.String" PropertyName="TieuDe" FieldName="tieuDe" FriendlyName="Tieu De" IncludeInOutput="true" />
		<Column Id="NoiDung" CSType="System.String" PropertyName="NoiDung" FieldName="noiDung" FriendlyName="Noi Dung" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
	</Table>
	<Table Id="tbl_CongTy" EntityName="CongTy" Owner="dbo" PropertyName="CongTy" FieldName="congTy" FriendlyName="Cong Ty" IncludeInOutput="true">
		<Column Id="id_CongTy" CSType="System.Int64" PropertyName="IdCongTy" FieldName="idCongTy" FriendlyName="Id Cong Ty" IncludeInOutput="true" />
		<Column Id="id_ChuCongTy" CSType="System.Int64?" PropertyName="IdChuCongTy" FieldName="idChuCongTy" FriendlyName="Id Chu Cong Ty" IncludeInOutput="true" />
		<Column Id="id_DanhMuc" CSType="System.Int64?" PropertyName="IdDanhMuc" FieldName="idDanhMuc" FriendlyName="Id Danh Muc" IncludeInOutput="true" />
		<Column Id="id_QuocGia" CSType="System.Int64?" PropertyName="IdQuocGia" FieldName="idQuocGia" FriendlyName="Id Quoc Gia" IncludeInOutput="true" />
		<Column Id="id_ThanhPho" CSType="System.Int64?" PropertyName="IdThanhPho" FieldName="idThanhPho" FriendlyName="Id Thanh Pho" IncludeInOutput="true" />
		<Column Id="id_Quan" CSType="System.Int64?" PropertyName="IdQuan" FieldName="idQuan" FriendlyName="Id Quan" IncludeInOutput="true" />
		<Column Id="id_Duong" CSType="System.Int64?" PropertyName="IdDuong" FieldName="idDuong" FriendlyName="Id Duong" IncludeInOutput="true" />
		<Column Id="id_KhuVuc" CSType="System.Int64?" PropertyName="IdKhuVuc" FieldName="idKhuVuc" FriendlyName="Id Khu Vuc" IncludeInOutput="true" />
		<Column Id="SoNha" CSType="System.String" PropertyName="SoNha" FieldName="soNha" FriendlyName="So Nha" IncludeInOutput="true" />
		<Column Id="DienThoaiCD" CSType="System.String" PropertyName="DienThoaiCd" FieldName="dienThoaiCd" FriendlyName="Dien Thoai Cd" IncludeInOutput="true" />
		<Column Id="DienThoaiDD" CSType="System.String" PropertyName="DienThoaiDd" FieldName="dienThoaiDd" FriendlyName="Dien Thoai Dd" IncludeInOutput="true" />
		<Column Id="Fax" CSType="System.String" PropertyName="Fax" FieldName="fax" FriendlyName="Fax" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="Website" CSType="System.String" PropertyName="Website" FieldName="website" FriendlyName="Website" IncludeInOutput="true" />
		<Column Id="HinhThucTT" CSType="System.String" PropertyName="HinhThucTt" FieldName="hinhThucTt" FriendlyName="Hinh Thuc Tt" IncludeInOutput="true" />
		<Column Id="ThoiGianPV" CSType="System.String" PropertyName="ThoiGianPv" FieldName="thoiGianPv" FriendlyName="Thoi Gian Pv" IncludeInOutput="true" />
		<Column Id="AnhMinhHoa" CSType="System.String" PropertyName="AnhMinhHoa" FieldName="anhMinhHoa" FriendlyName="Anh Minh Hoa" IncludeInOutput="true" />
		<Column Id="GhiChu" CSType="System.String" PropertyName="GhiChu" FieldName="ghiChu" FriendlyName="Ghi Chu" IncludeInOutput="true" />
		<Column Id="MoTaNgan" CSType="System.String" PropertyName="MoTaNgan" FieldName="moTaNgan" FriendlyName="Mo Ta Ngan" IncludeInOutput="true" />
		<Column Id="MoTaChiTiet" CSType="System.String" PropertyName="MoTaChiTiet" FieldName="moTaChiTiet" FriendlyName="Mo Ta Chi Tiet" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="GalleryCollection" PropertyName="GalleryCollection" FieldName="galleryIdCongTy" FriendlyName="GalleryCollection" CSType="TList&lt;Gallery&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_Gallery_tbl_CongTy" IncludeInOutput="true"/>
		<ChildCollection Id="TinTucCollection" PropertyName="TinTucCollection" FieldName="tinTucIdCongTy" FriendlyName="TinTucCollection" CSType="TList&lt;TinTuc&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_TinTuc_tbl_CongTy" IncludeInOutput="true"/>
		<ChildCollection Id="DichVu" PropertyName="DichVu" FieldName="dichVuIdDichVu" FriendlyName="DichVu" CSType="TList&lt;DichVu&gt;" RelationshipType="OneToOne" ForeignKeyName="FK_tbl_DichVu_tbl_CongTy" IncludeInOutput="true"/>
		<ChildCollection Id="CommentCollection" PropertyName="CommentCollection" FieldName="commentIdCongty" FriendlyName="CommentCollection" CSType="TList&lt;Comment&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_Comment_tbl_CongTy" IncludeInOutput="true"/>
		<ChildCollection Id="SanPham" PropertyName="SanPham" FieldName="sanPhamIdSanPham" FriendlyName="SanPham" CSType="TList&lt;SanPham&gt;" RelationshipType="OneToOne" ForeignKeyName="FK_tbl_SanPham_tbl_CongTy" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_DanhMuc" EntityName="DanhMuc" Owner="dbo" PropertyName="DanhMuc" FieldName="danhMuc" FriendlyName="Danh Muc" IncludeInOutput="true">
		<Column Id="id_DanhMuc" CSType="System.Int64" PropertyName="IdDanhMuc" FieldName="idDanhMuc" FriendlyName="Id Danh Muc" IncludeInOutput="true" />
		<Column Id="id_DMCha" CSType="System.Int64?" PropertyName="IdDmCha" FieldName="idDmCha" FriendlyName="Id Dm Cha" IncludeInOutput="true" />
		<Column Id="TenDanhMuc" CSType="System.String" PropertyName="TenDanhMuc" FieldName="tenDanhMuc" FriendlyName="Ten Danh Muc" IncludeInOutput="true" />
		<Column Id="MaDanhMuc" CSType="System.String" PropertyName="MaDanhMuc" FieldName="maDanhMuc" FriendlyName="Ma Danh Muc" IncludeInOutput="true" />
		<Column Id="MoTa" CSType="System.String" PropertyName="MoTa" FieldName="moTa" FriendlyName="Mo Ta" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="CongTyCollection" PropertyName="CongTyCollection" FieldName="congTyIdDanhMuc" FriendlyName="CongTyCollection" CSType="TList&lt;CongTy&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_CongTy_tbl_DanhMuc" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_DichVu" EntityName="DichVu" Owner="dbo" PropertyName="DichVu" FieldName="dichVu" FriendlyName="Dich Vu" IncludeInOutput="true">
		<Column Id="id_DichVu" CSType="System.Int64" PropertyName="IdDichVu" FieldName="idDichVu" FriendlyName="Id Dich Vu" IncludeInOutput="true" />
		<Column Id="id_CongTy" CSType="System.String" PropertyName="IdCongTy" FieldName="idCongTy" FriendlyName="Id Cong Ty" IncludeInOutput="true" />
		<Column Id="TenDV" CSType="System.String" PropertyName="TenDv" FieldName="tenDv" FriendlyName="Ten Dv" IncludeInOutput="true" />
		<Column Id="MaDV" CSType="System.String" PropertyName="MaDv" FieldName="maDv" FriendlyName="Ma Dv" IncludeInOutput="true" />
		<Column Id="MotaNgan" CSType="System.String" PropertyName="MotaNgan" FieldName="motaNgan" FriendlyName="Mota Ngan" IncludeInOutput="true" />
		<Column Id="MotaChiTiet" CSType="System.String" PropertyName="MotaChiTiet" FieldName="motaChiTiet" FriendlyName="Mota Chi Tiet" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
	</Table>
	<Table Id="tbl_Duong" EntityName="Duong" Owner="dbo" PropertyName="Duong" FieldName="duong" FriendlyName="Duong" IncludeInOutput="true">
		<Column Id="id_Duong" CSType="System.Int64" PropertyName="IdDuong" FieldName="idDuong" FriendlyName="Id Duong" IncludeInOutput="true" />
		<Column Id="id_Quan" CSType="System.Int64?" PropertyName="IdQuan" FieldName="idQuan" FriendlyName="Id Quan" IncludeInOutput="true" />
		<Column Id="TenDuong" CSType="System.String" PropertyName="TenDuong" FieldName="tenDuong" FriendlyName="Ten Duong" IncludeInOutput="true" />
		<Column Id="MaDuong" CSType="System.Byte[]" PropertyName="MaDuong" FieldName="maDuong" FriendlyName="Ma Duong" IncludeInOutput="true" />
		<Column Id="MoTa" CSType="System.String" PropertyName="MoTa" FieldName="moTa" FriendlyName="Mo Ta" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
	</Table>
	<Table Id="tbl_Gallery" EntityName="Gallery" Owner="dbo" PropertyName="Gallery" FieldName="gallery" FriendlyName="Gallery" IncludeInOutput="true">
		<Column Id="id_Gallery" CSType="System.Int64" PropertyName="IdGallery" FieldName="idGallery" FriendlyName="Id Gallery" IncludeInOutput="true" />
		<Column Id="id_CongTy" CSType="System.Int64?" PropertyName="IdCongTy" FieldName="idCongTy" FriendlyName="Id Cong Ty" IncludeInOutput="true" />
		<Column Id="TenAnh" CSType="System.String" PropertyName="TenAnh" FieldName="tenAnh" FriendlyName="Ten Anh" IncludeInOutput="true" />
		<Column Id="DuongDan" CSType="System.String" PropertyName="DuongDan" FieldName="duongDan" FriendlyName="Duong Dan" IncludeInOutput="true" />
		<Column Id="MoTa" CSType="System.String" PropertyName="MoTa" FieldName="moTa" FriendlyName="Mo Ta" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
	</Table>
	<Table Id="tbl_KhuVuc" EntityName="KhuVuc" Owner="dbo" PropertyName="KhuVuc" FieldName="khuVuc" FriendlyName="Khu Vuc" IncludeInOutput="true">
		<Column Id="id_KhuVuc" CSType="System.Int64" PropertyName="IdKhuVuc" FieldName="idKhuVuc" FriendlyName="Id Khu Vuc" IncludeInOutput="true" />
		<Column Id="TenKV" CSType="System.String" PropertyName="TenKv" FieldName="tenKv" FriendlyName="Ten Kv" IncludeInOutput="true" />
		<Column Id="MaKV" CSType="System.Byte[]" PropertyName="MaKv" FieldName="maKv" FriendlyName="Ma Kv" IncludeInOutput="true" />
		<Column Id="MoTa" CSType="System.String" PropertyName="MoTa" FieldName="moTa" FriendlyName="Mo Ta" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
	</Table>
	<Table Id="tbl_LabelLanguage" EntityName="LabelLanguage" Owner="dbo" PropertyName="LabelLanguage" FieldName="labelLanguage" FriendlyName="Label Language" IncludeInOutput="true">
		<Column Id="id_LabelLanguage" CSType="System.Int64" PropertyName="IdLabelLanguage" FieldName="idLabelLanguage" FriendlyName="Id Label Language" IncludeInOutput="true" />
		<Column Id="id_Language" CSType="System.Int32?" PropertyName="IdLanguage" FieldName="idLanguage" FriendlyName="Id Language" IncludeInOutput="true" />
		<Column Id="id_Label" CSType="System.Int64?" PropertyName="IdLabel" FieldName="idLabel" FriendlyName="Id Label" IncludeInOutput="true" />
		<Column Id="NoiDung" CSType="System.String" PropertyName="NoiDung" FieldName="noiDung" FriendlyName="Noi Dung" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
	</Table>
	<Table Id="tbl_LabelNN" EntityName="LabelNn" Owner="dbo" PropertyName="LabelNn" FieldName="labelNn" FriendlyName="Label Nn" IncludeInOutput="true">
		<Column Id="id_Label" CSType="System.Int64" PropertyName="IdLabel" FieldName="idLabel" FriendlyName="Id Label" IncludeInOutput="true" />
		<Column Id="MaLabel" CSType="System.String" PropertyName="MaLabel" FieldName="maLabel" FriendlyName="Ma Label" IncludeInOutput="true" />
		<Column Id="TenLabel" CSType="System.String" PropertyName="TenLabel" FieldName="tenLabel" FriendlyName="Ten Label" IncludeInOutput="true" />
		<Column Id="MoTa" CSType="System.String" PropertyName="MoTa" FieldName="moTa" FriendlyName="Mo Ta" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="LabelLanguageCollection" PropertyName="LabelLanguageCollection" FieldName="labelLanguageIdLabel" FriendlyName="LabelLanguageCollection" CSType="TList&lt;LabelLanguage&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_LabelLanguage_tbl_Label" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_Language" EntityName="Language" Owner="dbo" PropertyName="Language" FieldName="language" FriendlyName="Language" IncludeInOutput="true">
		<Column Id="id_Language" CSType="System.Int32" PropertyName="IdLanguage" FieldName="idLanguage" FriendlyName="Id Language" IncludeInOutput="true" />
		<Column Id="TenNN" CSType="System.String" PropertyName="TenNn" FieldName="tenNn" FriendlyName="Ten Nn" IncludeInOutput="true" />
		<Column Id="MaNN" CSType="System.String" PropertyName="MaNn" FieldName="maNn" FriendlyName="Ma Nn" IncludeInOutput="true" />
		<Column Id="Mota" CSType="System.Byte[]" PropertyName="Mota" FieldName="mota" FriendlyName="Mota" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="LabelLanguageCollection" PropertyName="LabelLanguageCollection" FieldName="labelLanguageIdLanguage" FriendlyName="LabelLanguageCollection" CSType="TList&lt;LabelLanguage&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_LabelLanguage_tbl_Language" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_LoaiSP" EntityName="LoaiSp" Owner="dbo" PropertyName="LoaiSp" FieldName="loaiSp" FriendlyName="Loai Sp" IncludeInOutput="true">
		<Column Id="id_LoaiSP" CSType="System.Int64" PropertyName="IdLoaiSp" FieldName="idLoaiSp" FriendlyName="Id Loai Sp" IncludeInOutput="true" />
		<Column Id="id_LoaiSPCha" CSType="System.Int64?" PropertyName="IdLoaiSpCha" FieldName="idLoaiSpCha" FriendlyName="Id Loai Sp Cha" IncludeInOutput="true" />
		<Column Id="TenLoaiSP" CSType="System.String" PropertyName="TenLoaiSp" FieldName="tenLoaiSp" FriendlyName="Ten Loai Sp" IncludeInOutput="true" />
		<Column Id="MaLoaiSP" CSType="System.String" PropertyName="MaLoaiSp" FieldName="maLoaiSp" FriendlyName="Ma Loai Sp" IncludeInOutput="true" />
		<Column Id="MoTa" CSType="System.String" PropertyName="MoTa" FieldName="moTa" FriendlyName="Mo Ta" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="SanPhamCollection" PropertyName="SanPhamCollection" FieldName="sanPhamIdLoaiSp" FriendlyName="SanPhamCollection" CSType="TList&lt;SanPham&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_SanPham_tbl_LoaiSP" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_Quan" EntityName="Quan" Owner="dbo" PropertyName="Quan" FieldName="quan" FriendlyName="Quan" IncludeInOutput="true">
		<Column Id="id_Quan" CSType="System.Int64" PropertyName="IdQuan" FieldName="idQuan" FriendlyName="Id Quan" IncludeInOutput="true" />
		<Column Id="id_ThanhPho" CSType="System.Int64?" PropertyName="IdThanhPho" FieldName="idThanhPho" FriendlyName="Id Thanh Pho" IncludeInOutput="true" />
		<Column Id="TenQuan" CSType="System.String" PropertyName="TenQuan" FieldName="tenQuan" FriendlyName="Ten Quan" IncludeInOutput="true" />
		<Column Id="MaQuan" CSType="System.String" PropertyName="MaQuan" FieldName="maQuan" FriendlyName="Ma Quan" IncludeInOutput="true" />
		<Column Id="MoTa" CSType="System.String" PropertyName="MoTa" FieldName="moTa" FriendlyName="Mo Ta" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="DuongCollection" PropertyName="DuongCollection" FieldName="duongIdQuan" FriendlyName="DuongCollection" CSType="TList&lt;Duong&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_Duong_tbl_Quan" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_QuocGia" EntityName="QuocGia" Owner="dbo" PropertyName="QuocGia" FieldName="quocGia" FriendlyName="Quoc Gia" IncludeInOutput="true">
		<Column Id="id_QuocGia" CSType="System.Int64" PropertyName="IdQuocGia" FieldName="idQuocGia" FriendlyName="Id Quoc Gia" IncludeInOutput="true" />
		<Column Id="TenQG" CSType="System.String" PropertyName="TenQg" FieldName="tenQg" FriendlyName="Ten Qg" IncludeInOutput="true" />
		<Column Id="MaQG" CSType="System.String" PropertyName="MaQg" FieldName="maQg" FriendlyName="Ma Qg" IncludeInOutput="true" />
		<Column Id="MoTa" CSType="System.String" PropertyName="MoTa" FieldName="moTa" FriendlyName="Mo Ta" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="ThanhPhoCollection" PropertyName="ThanhPhoCollection" FieldName="thanhPhoIdQuocGia" FriendlyName="ThanhPhoCollection" CSType="TList&lt;ThanhPho&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_ThanhPho_tbl_QuocGia" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_SanPham" EntityName="SanPham" Owner="dbo" PropertyName="SanPham" FieldName="sanPham" FriendlyName="San Pham" IncludeInOutput="true">
		<Column Id="id_SanPham" CSType="System.Int64" PropertyName="IdSanPham" FieldName="idSanPham" FriendlyName="Id San Pham" IncludeInOutput="true" />
		<Column Id="id_CongTy" CSType="System.Int64?" PropertyName="IdCongTy" FieldName="idCongTy" FriendlyName="Id Cong Ty" IncludeInOutput="true" />
		<Column Id="id_LoaiSP" CSType="System.Int64?" PropertyName="IdLoaiSp" FieldName="idLoaiSp" FriendlyName="Id Loai Sp" IncludeInOutput="true" />
		<Column Id="id_TuDien" CSType="System.Int64?" PropertyName="IdTuDien" FieldName="idTuDien" FriendlyName="Id Tu Dien" IncludeInOutput="true" />
		<Column Id="TenSP" CSType="System.String" PropertyName="TenSp" FieldName="tenSp" FriendlyName="Ten Sp" IncludeInOutput="true" />
		<Column Id="MaSP" CSType="System.String" PropertyName="MaSp" FieldName="maSp" FriendlyName="Ma Sp" IncludeInOutput="true" />
		<Column Id="Gia" CSType="System.Decimal?" PropertyName="Gia" FieldName="gia" FriendlyName="Gia" IncludeInOutput="true" />
		<Column Id="MoTaNgan" CSType="System.String" PropertyName="MoTaNgan" FieldName="moTaNgan" FriendlyName="Mo Ta Ngan" IncludeInOutput="true" />
		<Column Id="MoTaChiTiet" CSType="System.String" PropertyName="MoTaChiTiet" FieldName="moTaChiTiet" FriendlyName="Mo Ta Chi Tiet" IncludeInOutput="true" />
		<Column Id="AnhMinhHoa" CSType="System.Byte[]" PropertyName="AnhMinhHoa" FieldName="anhMinhHoa" FriendlyName="Anh Minh Hoa" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="ThuocTinhSanPhamCollection" PropertyName="ThuocTinhSanPhamCollection" FieldName="thuocTinhSanPhamIdSanPham" FriendlyName="ThuocTinhSanPhamCollection" CSType="TList&lt;ThuocTinhSanPham&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_ThuocTinhSanPham_tbl_SanPham" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_ThanhPho" EntityName="ThanhPho" Owner="dbo" PropertyName="ThanhPho" FieldName="thanhPho" FriendlyName="Thanh Pho" IncludeInOutput="true">
		<Column Id="id_ThanhPho" CSType="System.Int64" PropertyName="IdThanhPho" FieldName="idThanhPho" FriendlyName="Id Thanh Pho" IncludeInOutput="true" />
		<Column Id="id_QuocGia" CSType="System.Int64?" PropertyName="IdQuocGia" FieldName="idQuocGia" FriendlyName="Id Quoc Gia" IncludeInOutput="true" />
		<Column Id="TenTP" CSType="System.String" PropertyName="TenTp" FieldName="tenTp" FriendlyName="Ten Tp" IncludeInOutput="true" />
		<Column Id="MaTP" CSType="System.String" PropertyName="MaTp" FieldName="maTp" FriendlyName="Ma Tp" IncludeInOutput="true" />
		<Column Id="Mota" CSType="System.String" PropertyName="Mota" FieldName="mota" FriendlyName="Mota" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="QuanCollection" PropertyName="QuanCollection" FieldName="quanIdThanhPho" FriendlyName="QuanCollection" CSType="TList&lt;Quan&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_Quan_tbl_ThanhPho" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_ThuocTinh" EntityName="ThuocTinh" Owner="dbo" PropertyName="ThuocTinh" FieldName="thuocTinh" FriendlyName="Thuoc Tinh" IncludeInOutput="true">
		<Column Id="id_ThuocTinh" CSType="System.Int64" PropertyName="IdThuocTinh" FieldName="idThuocTinh" FriendlyName="Id Thuoc Tinh" IncludeInOutput="true" />
		<Column Id="TenThuocTinh" CSType="System.String" PropertyName="TenThuocTinh" FieldName="tenThuocTinh" FriendlyName="Ten Thuoc Tinh" IncludeInOutput="true" />
		<Column Id="MaThuocTinh" CSType="System.String" PropertyName="MaThuocTinh" FieldName="maThuocTinh" FriendlyName="Ma Thuoc Tinh" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="ThuocTinhSanPhamCollection" PropertyName="ThuocTinhSanPhamCollection" FieldName="thuocTinhSanPhamIdThuocTinh" FriendlyName="ThuocTinhSanPhamCollection" CSType="TList&lt;ThuocTinhSanPham&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_ThuocTinhSanPham_tbl_ThuocTinh" IncludeInOutput="true"/>
	</Table>
	<Table Id="tbl_ThuocTinhSanPham" EntityName="ThuocTinhSanPham" Owner="dbo" PropertyName="ThuocTinhSanPham" FieldName="thuocTinhSanPham" FriendlyName="Thuoc Tinh San Pham" IncludeInOutput="true">
		<Column Id="id_TTSP" CSType="System.Int64" PropertyName="IdTtsp" FieldName="idTtsp" FriendlyName="Id Ttsp" IncludeInOutput="true" />
		<Column Id="id_SanPham" CSType="System.Int64?" PropertyName="IdSanPham" FieldName="idSanPham" FriendlyName="Id San Pham" IncludeInOutput="true" />
		<Column Id="id_ThuocTinh" CSType="System.Int64?" PropertyName="IdThuocTinh" FieldName="idThuocTinh" FriendlyName="Id Thuoc Tinh" IncludeInOutput="true" />
		<Column Id="Value1" CSType="System.String" PropertyName="Value1" FieldName="value1" FriendlyName="Value1" IncludeInOutput="true" />
		<Column Id="Value2" CSType="System.String" PropertyName="Value2" FieldName="value2" FriendlyName="Value2" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
	</Table>
	<Table Id="tbl_TinTuc" EntityName="TinTuc" Owner="dbo" PropertyName="TinTuc" FieldName="tinTuc" FriendlyName="Tin Tuc" IncludeInOutput="true">
		<Column Id="id_TinTuc" CSType="System.Int64" PropertyName="IdTinTuc" FieldName="idTinTuc" FriendlyName="Id Tin Tuc" IncludeInOutput="true" />
		<Column Id="id_CongTy" CSType="System.Int64?" PropertyName="IdCongTy" FieldName="idCongTy" FriendlyName="Id Cong Ty" IncludeInOutput="true" />
		<Column Id="TieuDe" CSType="System.String" PropertyName="TieuDe" FieldName="tieuDe" FriendlyName="Tieu De" IncludeInOutput="true" />
		<Column Id="MoTaNgan" CSType="System.String" PropertyName="MoTaNgan" FieldName="moTaNgan" FriendlyName="Mo Ta Ngan" IncludeInOutput="true" />
		<Column Id="MoTaChiTiet" CSType="System.String" PropertyName="MoTaChiTiet" FieldName="moTaChiTiet" FriendlyName="Mo Ta Chi Tiet" IncludeInOutput="true" />
		<Column Id="KhuyenMai" CSType="System.Boolean?" PropertyName="KhuyenMai" FieldName="khuyenMai" FriendlyName="Khuyen Mai" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
	</Table>
	<Table Id="tbl_TuDien" EntityName="TuDien" Owner="dbo" PropertyName="TuDien" FieldName="tuDien" FriendlyName="Tu Dien" IncludeInOutput="true">
		<Column Id="id_TuDien" CSType="System.Int64" PropertyName="IdTuDien" FieldName="idTuDien" FriendlyName="Id Tu Dien" IncludeInOutput="true" />
		<Column Id="id_DanhMuc" CSType="System.Int64?" PropertyName="IdDanhMuc" FieldName="idDanhMuc" FriendlyName="Id Danh Muc" IncludeInOutput="true" />
		<Column Id="TenTu" CSType="System.String" PropertyName="TenTu" FieldName="tenTu" FriendlyName="Ten Tu" IncludeInOutput="true" />
		<Column Id="MaTu" CSType="System.String" PropertyName="MaTu" FieldName="maTu" FriendlyName="Ma Tu" IncludeInOutput="true" />
		<Column Id="NhomTu" CSType="System.String" PropertyName="NhomTu" FieldName="nhomTu" FriendlyName="Nhom Tu" IncludeInOutput="true" />
		<Column Id="MoTa" CSType="System.String" PropertyName="MoTa" FieldName="moTa" FriendlyName="Mo Ta" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
	</Table>
	<Table Id="tbl_User" EntityName="User" Owner="dbo" PropertyName="User" FieldName="user" FriendlyName="User" IncludeInOutput="true">
		<Column Id="id_User" CSType="System.Int64" PropertyName="IdUser" FieldName="idUser" FriendlyName="Id User" IncludeInOutput="true" />
		<Column Id="TenDangNhap" CSType="System.Byte[]" PropertyName="TenDangNhap" FieldName="tenDangNhap" FriendlyName="Ten Dang Nhap" IncludeInOutput="true" />
		<Column Id="Password" CSType="System.String" PropertyName="Password" FieldName="password" FriendlyName="Password" IncludeInOutput="true" />
		<Column Id="HoTen" CSType="System.String" PropertyName="HoTen" FieldName="hoTen" FriendlyName="Ho Ten" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="DiaChi" CSType="System.String" PropertyName="DiaChi" FieldName="diaChi" FriendlyName="Dia Chi" IncludeInOutput="true" />
		<Column Id="DienThoai" CSType="System.Byte[]" PropertyName="DienThoai" FieldName="dienThoai" FriendlyName="Dien Thoai" IncludeInOutput="true" />
		<Column Id="Website" CSType="System.String" PropertyName="Website" FieldName="website" FriendlyName="Website" IncludeInOutput="true" />
		<Column Id="Avatar" CSType="System.String" PropertyName="Avatar" FieldName="avatar" FriendlyName="Avatar" IncludeInOutput="true" />
		<Column Id="Flag" CSType="System.Byte?" PropertyName="Flag" FieldName="flag" FriendlyName="Flag" IncludeInOutput="true" />
		<ChildCollection Id="CommentCollection" PropertyName="CommentCollection" FieldName="commentIdUser" FriendlyName="CommentCollection" CSType="TList&lt;Comment&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tbl_Comment_tbl_User" IncludeInOutput="true"/>
	</Table>
</NetTiersMap>
