.amthuc_mainMenu
{
    border:1px solid #D0D0D0;
    float:left;
    margin:5px 0 10px 0;
    padding:10px;
    width:96%;
}

.amthuc_categoryMenu 
{
border-bottom:1px solid #DDDDDD;
margin-bottom:10px;
padding:10px 0 8px;
text-transform:uppercase;
width:100%;
color:#0D91C8 !important;
}



.amthuc_mainMenu .amthuc_leftImageMenu {
    background-color:#EDEDED;
    border:1px solid #EDEDED;
    float:left;
    height:130px;
    overflow:hidden !important;
    width:20%;
}

.amthuc_leftImageMenu .amthuc_leftImageMenu_imageFood
{
    width:122px;
    height:131px;
}

.amthuc_mainMenu .amthuc_rightDescrMenu {
    float:left;
    margin-left:20px;
    width:75%;
}

.amthuc_mainMenu .amthuc_rightDescrMenu .amthuc_infoMenu {
    margin:0 0 10px;
    padding:0;
}

.amthuc_mainMenu .amthuc_rightDescrMenu .amthuc_infoMenu .amthuc_foodNameMenu
{
    padding:5px 0 5px 0;
}

.colr {
    color:#64850A !important;
}

.colr_PriceMenu {
    color:Red !important;
}

.amthuc_infoMenu p {
padding:0 0 5px;
}
.clear
{
    clear:both;
}
