<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="traveltips.DAO" type="traveltips.DAO.Bases.NetTiersServiceSection, traveltips.DAO" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<appSettings/>
	<connectionStrings>
		<add name="traveltips.DAO.ConnectionString" connectionString="server=.;database=traveltips;uid=sa;pwd=12345;"/>
	</connectionStrings>
	<traveltips.DAO defaultProvider="SqlNetTiersProvider">
		<providers>
			<!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
			<add name="SqlNetTiersProvider" type="traveltips.DAO.SqlClient.SqlNetTiersProvider, traveltips.DAO.SqlClient" connectionStringName="traveltips.DAO.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="traveltips.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="true" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30"/>
			<!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/traveltips/traveltipsServices.aspx)
				<add 
					name="WsNetTiersProvider" 
					type="traveltips.DAO.WebServiceClient.WsNetTiersProvider, traveltips.DAO.WebServiceClient"
					url="/traveltipsServices.asmx" />
			-->
		</providers>
	</traveltips.DAO>
	<system.web>
		<pages styleSheetTheme="default" theme="default">
			<controls>
				<add tagPrefix="data" namespace="traveltips.Web.Data" assembly="traveltips.Web"/>
				<add tagPrefix="data" namespace="traveltips.Web.UI" assembly="traveltips.Web"/>
			</controls>
		</pages>
		<httpModules>
			<add name="EntityTransactionModule" type="traveltips.Web.Data.EntityTransactionModule"/>
		</httpModules>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        <authentication mode="Windows" />
        -->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
		<sources>
			<add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" filePath="entlib.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
</configuration>
