body {
}

label.button {
    background:url("../images/rightGreen.png") no-repeat scroll right top transparent;
    color:#494949;
    display:block;
    float:left;
    font:12px Arial,Helvetica,sans-serif;
    height:24px;
    margin-right:6px;
    padding-right:9px;
}

label.button input {
    height:inherit;
    opacity:0;
    position:absolute;
    width:inherit;
    z-index:2;
}

label.button span {
background:url("../images/leftGreen.png") no-repeat scroll 0 0 transparent;
display:block;
line-height:14px;
padding:5px 0 5px 6px;
text-align:center;
white-space:nowrap;
}

label.button:hover, label.button:active {
background-position: bottom right;
color: #494949;
outline: none; /* hide dotted outline in Firefox */
}
label.button:hover span, label.button:active span {
background-position: bottom left;
padding: 6px 0 4px 6px; /* push text down 1px */
}